<h2>Sign up</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <form class="block">
    <div class="field">
      <%= f.label :name, class: "block text-sm font-medium text-slate-700"%><br />
      <%= f.text_field :name, placeholder: 'full name', class: "inputs" %>
    </div>
    <div class="field">
      <%= f.label :email, class: "block text-sm font-medium text-slate-700"%><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "inputs" %>
    </div>
    <div class="field">
      <%= f.label :password , class: "block text-sm font-medium text-slate-700"%>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "inputs" %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "inputs" %>
    </div>
    <div class="actions">
      <%= f.submit "Sign up", class: "btn-primary" %>
    </div>
  <% end %>
</form>
<%= render "devise/shared/links" %>
