<%= form_with(model: purchase, url: {action: "create"}) do |form| %>
  <div class="bg-gray-800 flex flex-col w-90 border border-gray-900 rounded-lg px-8 py-10">
    <div class="text-white mt-10">
      <h1 class="font-bold text-4xl">New Purchase</h1>
      <br />
    </div>
    <% if purchase.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>
        <ul>
          <% purchase.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <form class="flex flex-col space-y-8 mt-10">
      <%= form.text_field :name, type: "text", placeholder: "Full name", class: "border rounded-lg py-3 px-3 bg-gray-700 border-gray-700 placeholder-gray-500" %><br />
      <%= form.text_field :amount, type: "number", placeholder: "Amount", class: "border rounded-lg py-3 px-3 bg-gray-700 border-gray-700 placeholder-gray-500" %><br />
      <%= form.text_field :category_id, type: "text", placeholder: "Category", class: "border rounded-lg py-3 px-3 bg-gray-700 border-gray-700 placeholder-gray-500" %><br />
      <%= form.submit class: "btn-primary" %>
    </form>
  <% end %>
  <br />
  <%= link_to "Back", category_purchases_path, class: "text-white" %>
</div>
