<div id="<%= dom_id purchase %>">
  <tr>
    <td><%= purchase.name %></td>
    <td>$<%= purchase.amount %></td>
    <td><%= purchase.category_id %></td>
    <td>
      <ul class="flex">
        <li><%= link_to "Show", category_purchases_path, class: "btn-secondary" %></li>
        |
        <li><%= button_to "Destroy", @purchase, method: :delete, class: "btn-destroy" %></li>
      </ul>
    </td>
  </tr>
</div>
