<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="flex items-center justify-center h-screen">
    <div class="bg-gray-800 flex flex-col w-80 border border-gray-900 rounded-lg px-8 py-10">
      <div class="text-white mt-10">
        <h1 class="font-bold text-4xl">Log In</h1>
        <br />
      </div>
      <form class="flex flex-col space-y-8 mt-10">
        <%= f.email_field :email, type: "email", placeholder: "Email", class: "border rounded-lg py-3 px-3 bg-gray-700 border-gray-700 placeholder-gray-500"%><br />
        <%= f.password_field :password, type: "password", placeholder: "password", class: "border rounded-lg py-3 px-3 bg-gray-700 border-gray-700 placeholder-gray-500 mb-3" %><br />
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, class: "block text-sm font-medium text-white" %>
          </div>
        <% end %>
        <button>
          <%= f.submit "Log in", class: "btn-primary"%>
        </button>
      </form>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
