<%= form_with(model: category) do |form| %>
  <div class="bg-gray-800 flex flex-col w-80 border border-gray-900 rounded-lg px-8 py-10">
    <div class="text-white mt-10">
      <h1 class="font-bold text-4xl">New Category</h1>
      <br />
    </div>
    <% if category.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>
        <ul>
          <% category.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <form class="flex flex-col space-y-8 mt-10">
      <%= form.text_field :name, type: "text", placeholder: "Name", class: "border rounded-lg py-3 px-3 bg-gray-400 border-gray-700 placeholder-gray-500" %><br />
      <%= form.text_field :icon, type: "text", placeholder: "icon", class: "border rounded-lg py-3 px-3 bg-gray-400 border-gray-700 placeholder-gray-500" %><br />
      <%= form.submit class: "btn-primary" %>
    </form>
  <% end %>
  <br />
  <%= link_to "Back", categories_path, class: "links" %>
</div>
