<div class="flex items-center justify-center min-h-screen bg-slate-200">
  <div class="bg-gray-800 flex flex-col w-90 border border-gray-900 rounded-lg px-8 py-10">
    <div class="col-span-12">
      <div class="overflow-hidden lg:overflow-visible ">
        <form class="flex flex-col space-y-3">
          <%= render 'shared/category_table' do %>
            <p style="color: green"><%= notice %></p>
            <%= render @category %>
          <% end %>
        </form>
        <div>
          <%= link_to "Edit", edit_category_path(@category), class: "links" %> |
          <%= link_to "Back", categories_path, class: "links" %>
        </div>
      </div>
    </div>
  </div>
</div>
